.schoolDetails .carousel-holder {
	height: 300px;
}

.schoolDetails .carousel-holder .carousel, .schoolDetails .carousel-holder .carousel-inner,
	.schoolDetails .carousel-holder .item, .schoolDetails .carousel-holder .item .text-center
	{
	height: 100%;
}

.schoolDetails .carousel-holder .item .text-center img {
	max-height: 275px;
	margin: 5px 0px !important;
	height: 100%;
}