<ui-view></ui-view>
<footer class="clearfix">
    <div id="footer">
        <div style="background: #393b3e;">
            <div class="container">
                <div class="row downloads">
                    <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
                        <h3>Course Material
                    	<a ui-sref="admin" target="_blank" class="pull-right">Login as Admin?</a>
                    </h3>
                        <ul class="float category" ng-repeat="item in vm.downloadCategory">
                            <li>
                                <i class="fa fa-plus-square" aria-hidden="true" ng-show="!item.open" ng-click="vm.action(item);"></i>
                                <i class="fa fa-minus-square" aria-hidden="true" ng-show="item.open" ng-click="vm.action(item);"></i>
                                <a style="color: rgba(255, 255, 255, 0.8) !important;" ng-click="vm.action(item);">{{item.value}}</a>
                            </li>
                            <ul class="float" id="{{item.id}}" style="width:100%;">
                                <li ng-repeat="item in vm.downloadCategory[$index].list">
                                    <a href="{{item.href}}" target="_blank" download>{{item.value}}</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-copyright clearfix text-center container">
            <span>e-Jagratha</span>
            <p class="pull-left">&copy; 2017. All Rights Reserved.</p>
            <div class="pull-right social-icons">
                <a href=""><i class="icon-twitter2"></i></a>
                <a href=""> <i class="icon-facebook2"></i></a>
                <a href=""> <i class="icon-google-plus2"></i></a>
                <a href=""> <i class="icon-instagram2"></i></a>
            </div>
            <div class="go-top" ng-click="vm.goTop();">Top<i class="fa fa-arrow-up" aria-hidden="true" style="padding-left:5px;"></i></div>
        </div>
    </div>
</footer>