<div class="government-school">
    <div class="container">
    	<div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Government Schools</h3>
                <p ng-hide="vm.loading">These are Government schools from {{vm.eduDistrict}} educational district in {{vm.district}}.</p>
            </div>
        </div>
        <div class="row">
    		<div class="col-lg-1 col-md-1" style="text-align:right">Phase : </div>
    		<div class="col-lg-4 col-md-4">
    			<select ng-model="vm.phase" ng-change="vm.filterList('phases')" style="width: 200px; height:30px">
				     <option value="1">Phase 1</options>
				     <option value="2">Phase 2</options>
				     <option value="3">Phase 3</options>
				     <option value="4">Phase 4</options>
				</select>
    		</div>
    	</div>
    	<div class="row">&nbsp;</div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="loader text-center" ng-show="vm.loading" style="margin: 3em 0em 5em 0em;">
                <i class="fa fa-gear fa-spin" aria-hidden="true" style="font-size: 28px;"></i>
                <div>{{vm.loadMsg}}</div>
            </div>
            <div class="loader text-center" ng-show="vm.noResult" style="margin: 3em 0em 5em 0em;">
                <i class="fa fa-frown-o" aria-hidden="true" style="font-size: 28px;"></i>
                <div>{{vm.loadMsg}}</div>
            </div>
            <div class="col-lg-4 col-md-4 sr-listImg" ng-repeat="item in vm.govtSchool | orderBy:'schoolCode'" ng-hide="vm.loading || vm.noResult">
                <div class="clearfix fh5co-blog animate-box">
                    <img class="img-responsive schoolImage" ng-src="{{item.imageURL}}" ng-click="vm.showSlide(item);" ng-hide="item.disableSlide">
                    <img class="img-responsive schoolImage" ng-src="{{item.imageURL}}" ng-show="item.disableSlide">
                    <div class="blog-text">
                        <div class="prod-title">
                            <h4 style="height: 40px;margin: 0px;">{{item.name}} <i style="font-size: 12px;">({{item.schoolCode}})</i></h4>
                            <div class="props">
                                <div class="category">Session Date</div>
                                <div class="value">{{item.sessionDate || '--' | date}}</div>
                            </div>
                            <div class="props">
                                <div class="category">Teacher Name</div>
                                <div class="value">{{item.teacherName}}</div>
                            </div>                            
                            <div class="props">
                                <div class="category">Student Representative</div>
                                <div class="value">{{item.studentRepName}}</div>
                            </div>
                            <div class="props">
                                <div class="category">Session Status</div>
                                <div class="value">{{item.sessionStatus}}</div>
                            </div>
                            <!-- <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span> -->
                            <div style="text-align: center;height: 36px;" >
                            	<a class="btn btn-primary" ng-click="vm.showSlide(item);" style="padding: 4px 12px; font-size: 14px;" ng-hide="item.disableSlide">View Images</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>