<script type="text/javascript">
    //document.getElementById('sessionDate').max = new Date().toISOString().substring(0, 10);
    // function to validate contact number
    function validNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<div class="schoolUpload">
    <div class="pageHead">
        School Details Upload
        <div class="req-indicator">
            (All fields marked
            <req>*</req> are mandatory.)
        </div>
    </div>
    <form ng-submit="vm.onSave();">
        <div class="row uploadForm">
            <div class="input-box col-xs-12 col-md-6">
                <label>School Name
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.schoolName" required maxlength="50" placeholder="Enter School Name" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>School Code
                    <req>*</req>
                </label>
                <input type="text" onkeypress="return validNumber(event);" ng-model="vm.formData.schoolCode" required maxlength="10" placeholder="Enter School Code" />
            </div>
            <div class="input-box col-xs-12">
                <label>Address
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.schoolAddress" required maxlength="100" placeholder="Enter School Address" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>School Contact Number
                    <req>*</req>
                </label>
                <input type="text" onkeypress="return validNumber(event);" ng-model="vm.formData.schoolPhone" required maxlength="10" placeholder="Enter School Contact" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>School Type
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.schoolType" required>
                    <option value="">Select School Type</option>
                    <option value="{{item.id}}" ng-repeat="item in vm.schoolType">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Teacher Name
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.teacherName" required maxlength="25" placeholder="Enter Teacher Name" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Teacher Contact Number
                    <req>*</req>
                </label>
                <input type="text" onkeypress="return validNumber(event);" ng-model="vm.formData.teacherPhone" required maxlength="10" placeholder="Enter Teacher Contact" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Student Representative Name
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.studentRep" required maxlength="10" placeholder="Enter Student Name" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Session Date
                    <req>*</req>
                </label>
                <input type="date" id="sessionDate" ng-model="vm.formData.sessionDate" required onkeydown="return false;" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Session Status
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.sessionStatus" required>
                    <option value="">Select Session Status</option>
                    <option value="{{item.id}}" ng-repeat="item in vm.sessionStatus">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Educational District
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.district" required>
                    <option value="">Select Educational District</option>
                    <option value="{{item.id}}" ng-repeat="item in vm.educationDist">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12">
                <label>Additional Comments
                </label>
                <input type="text" ng-model="vm.formData.comments" maxlength="100" placeholder="Enter Comments, if any" />
            </div>
            <div class="input-box col-xs-12">
                <label style="line-height: normal;margin: 0;">Upload Photos
                </label>
                <div class="req-indicator" style="margin-bottom:5px;">
                    (hold <kbd>ctrl</kbd> or <kbd>shift</kbd> to select multiple files)
                </div>
                <input type="file" multiple/>
            </div>
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>