<div class="schoolUpload row">

    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>School Details Upload</h3>
        <p>
            <div class="req-indicator">
                (All fields marked
                <req>*</req> are mandatory.)
            </div>
        </p>
    </div>
    <form ng-submit="vm.onSave();" class="col-xs-12">
        <div class="row uploadForm">
            <div class="input-box col-xs-12 col-md-6">
                <label>School Name
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.name" required maxlength="50" placeholder="Enter School Name" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>School Code
                    <req>*</req>
                </label>
                <input type="text" onkeypress="return validNumber(event);" ng-model="vm.formData.schoolCode" required maxlength="10" placeholder="Enter School Code" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>School Contact Number
                    <req>*</req>
                </label>
                <input type="text" onkeypress="return validNumber(event);" ng-model="vm.formData.phone" required maxlength="10" placeholder="Enter School Contact" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>School Type
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.schoolType" required ng-disabled="vm.saving">
                    <option value="">Select School Type</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.schoolType">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12">
                <label>Address
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.address" required maxlength="100" placeholder="Enter School Address" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>District
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.districtName" required ng-disabled="vm.saving">
                    <option value="">Select District</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.district">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Educational District
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.educationalDistrictName" required ng-disabled="vm.saving">
                    <option value="">Select Educational District</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.educationDist">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Teacher Name
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.teacherName" required maxlength="25" placeholder="Enter Teacher Name" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Teacher Contact Number
                    <req>*</req>
                </label>
                <input type="text" onkeypress="return validNumber(event);" ng-model="vm.formData.teacherPhone" required maxlength="10" placeholder="Enter Teacher Contact" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Session Date
                    <req ng-show="vm.formData.sessionStatus != 'Date to be decided'">*</req>
                </label>
                <input type="date" id="sessionDate" ng-model="vm.formData.sessionDate" onkeydown="return false;" ng-disabled="vm.saving" ng-required="vm.formData.sessionStatus != 'Date to be decided'""/>
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label>Session Status
                    <req>*</req>
                </label>
                <select class="form-control" data-ng-model="vm.formData.sessionStatus" required ng-disabled="vm.saving">
                    <option value="">Select Session Status</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.sessionStatus">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-6 speclMargin">
                <label>Student Representative Name
                    <req>*</req>
                </label>
                <input type="text" ng-model="vm.formData.studentRepName" required maxlength="10" placeholder="Enter Student Name" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 col-md-6">
                <label style="line-height: normal;margin: 0;">Upload Photos
                </label>
                <div class="req-indicator" style="margin-bottom:5px;">
                    (hold <kbd>ctrl</kbd> or <kbd>shift</kbd> to select multiple files)
                </div>
                <input id="file-upload" type="file" multiple onchange="angular.element(this).scope().vm.FilesSelection(this);" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12">
                <label>Additional Comments
                </label>
                <input type="text" ng-model="vm.formData.comments" maxlength="2000" placeholder="Enter Comments, if any" ng-disabled="vm.saving" />
            </div>
            <div class="input-box col-xs-12 uploadedDocs" ng-show="vm.editMode">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <th class="col-xs-9">Documents Uploaded</th>
                    <th class="col-xs-3">Action</th>
                    <tr ng-repeat="docs in vm.uploadedDocs">
                        <td class="col-xs-9"><span ng-class="(docs.deleted) ? 'deleted' : ''">{{docs.docPath}}</span></td>
                        <td class="col-xs-3">
                            <a href="files/{{docs.docId}}" ng-hide="docs.deleted"><i class="fa fa-arrow-circle-down" aria-hidden="true" ng-hide="docs.deleted"></i></a>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="vm.deleteFile(docs);" ng-hide="docs.deleted" style="color: #f37373;"></i>
                            <i class="fa fa-refresh" aria-hidden="true" ng-show="docs.deleted" ng-click="vm.undoDelete(docs);"></i>
                        </td>
                    </tr>
                    <tr ng-show="vm.uploadedDocs.length == 0">
                        <td colspan="2" class="text-center"> <i>No Files uploaded.</i></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 text-center">
                <span data-ng-hide="vm.saving">
	                <button type="submit" class="btn btn-success" style="margin-right: 8px;">
	                    Save
	                </button>
                </span>
                <span data-ng-show="vm.saving">
                    <i class="fa fa-refresh fa-spin" aria-hidden="true" style="font-size: 28px;" data-ng-show="vm.saving"></i> <br>
                    Saving Data... Please wait..
                </span>
            </div>
        </div>
    </form>
</div>