<div id="fh5co-wrapper" class="schoolStatus row">

    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>School Status Details</h3>
        <p>(List of all school included in E-Jagratha)</p>
    </div>
    <div class="col-xs-12">
        <div ng-hide="vm.loading" class="content-holder">
            <div class="input-box col-xs-12 col-md-3" style="padding: 0px 15px 0px 0px;">
                <input type="text" ng-model="search.name" required maxlength="50" placeholder="Enter School Name" style="border-radius: 4px;"/>
            </div>
            <div class="input-box col-xs-12 col-md-3" style="padding: 0px 15px 0px 0px;">
                <select class="form-control" data-ng-model="search.districtName" required>
                    <option value="">Select District</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.district">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-3" style="padding: 0px 15px 0px 0px;">
                <select class="form-control" data-ng-model="search.educationalDistrictName" required>
                    <option value="">Select Educational District</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.educationDist">{{item.value}}</option>
                </select>
            </div>
            <div class="input-box col-xs-12 col-md-3" style="padding: 0px 0px 0px 0px;">
                <select class="form-control" data-ng-model="search.sessionStatus" required>
                    <option value="">Select Session Status</option>
                    <option value="{{item.value}}" ng-repeat="item in vm.sessionStatus">{{item.value}}</option>
                </select>
            </div>
            <div class="col-xs-12 filter" style="padding: 6px 0px;    font-size: 12px;">
                <i class="pull-left">(apply filters to sort the list.)</i>
                <span style="padding-left: 5px;font-weight: bold;">List count : {{(vm.schoolList|filter:search).length}}</span>
                <span class="pull-right" ng-click="search = {};" ng-show="search.districtName || search.name || search.educationalDistrictName || search.sessionStatus"> Clear Filters</span>
            </div>
            <table class="table table-bordered" style="margin-bottom: 0px;margin-top: 10px;">
                <th class="col-xs-3">School Name</th>
                <th class="col-xs-2">District Name</th>
                <th class="col-xs-3">Educational District Name</th>
                <th class="col-xs-2">Session Date</th>
                <th class="col-xs-2">Session Status</th>
                <tr ng-repeat="school in vm.schoolList | filter:search | orderBy : 'id'" ng-animate="'animate'">
                    <td class="col-xs-3"><span ng-click="vm.getDetails(school);" style="outline:none;color: #337ab7;font-weight: 500;">{{school.name}}</span></td>
                    <td class="col-xs-2">{{school.districtName}}</td>
                    <td class="col-xs-3">{{school.educationalDistrictName}}</td>
                    <td class="col-xs-2">{{school.sessionDate || '--' | date}}</td>
                    <td class="col-xs-2">{{school.sessionStatus}}</td>
                </tr>               
                <tr ng-show="(vm.schoolList | filter:search).length == 0">
                    <td colspan="5" class="text-center"> Your query does not match any item <i class="fa fa-frown-o" aria-hidden="true"></i></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="loader text-center" ng-show="vm.loading">
        <i class="fa fa-gear fa-spin" aria-hidden="true" style="font-size: 28px;"></i>
        <div>{{vm.loadMsg}}</div>
    </div>

</div>